@import './index.css';

/* hero styling */
#hero{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    background-color: var(--darkblue);
    padding: 0px;
    }
#hero-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding: 10px;
    align-self: center;
    margin: auto;
}

#hero h1{ 
    text-justify: center;
    color: var(--lightblue);
    padding: 10px;
    margin: auto;
    
    text-shadow: 0 0 15px var(--black), 0 0 75px var(--sand);
}
#hero h2{ color: var(--sand);
    padding: 5px;
    margin: auto;
    max-width: 850px;
    text-shadow: none;
}

#projects{
    background-color: var(--teal-light);
}

#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
}

@media (max-width: 767px){
    #project-list {
        display: grid;
        grid-template-columns: 100%;
        column-gap: 10px;
        row-gap: 10px;
    }  
}

@media (min-width: 768px) {    
    #hero {  
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        min-height: fit-content; 
    }

    #hero img {
        max-width: 50%;
        height: auto;
        align-self: flex-start;   
    } 
        
    #hero-text {   
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        flex-grow: 2; 
    }
}
/* hero image break point */
@media (min-width: 1370px) {   
    #hero img {
        max-width: 30%;
    }

    #hero-text {   
    margin: 5vh 0;  
    }
}