#project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--teal-dark);
    border-radius: 10px;
    background-color: var(--sand);
}
#project-title{
    color: var(--darkblue);
    padding: 0 10px;
}

#project img{
    max-width: 100%;
    height: auto;
    align-self: center;
    border: 2px solid var(--teal-dark);
    border-radius: 5px;
    order: 3;
}

#project-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--teal-dark);
}

#project-details h5{
    color: var(--darkblue);
}
#pledges {
    display: flex;
    flex-wrap: wrap;
    color: var(--darkblue);
    max-width: 100%;
}
#pledges-title{
    color: var(--sand);
    text-align: center;
}


@media (min-width: 768px) { 
    
#project-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--teal-dark);
    border-radius: 10px;
    background-color: var(--sand);
}
#project-title{
    color: var(--darkblue);
    padding: 0 10px;
    grid-column: span 2;
    text-align: center;
}

#project img{
    max-width: 100%;
    height: auto;
    grid-column: 1 / 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    border: 2px solid var(--teal-dark);
    border-radius: 5px;
}

#project-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-column: 2 / 2;
    color: var(--teal-dark);
}

#project-details h5{
    color: var(--darkblue);
}
#pledges-section{
    margin: 20px;
    padding: 20px;
    align-self: flex-start;
}
#pledges {
    display: flex;
    flex-wrap: wrap;
    color: var(--darkblue);
    max-width: 100%;
}
#pledges-title{
    color: var(--sand);
    text-align: center;
}
}

@media (min-width: 1570px) {   
    #project{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    p{
        max-width: 1200px;
    }
}