 
a:-webkit-any-link {
  text-decoration: none;
  color: var(--sand)}

.navbar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 4px;
  padding-left: 30px;
}

.navbar-ul li {
  display: inline;
  padding: 0 10px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--sand); 

}
